#!/usr/bin/make -f

include /usr/share/linux-packaging-snippets/kernel-snippet.mk

# Use prebuilt dtbo.img from droidian/ instead of compiling DTS from source.
# Adds AVB footer for verified boot compatibility.
out/KERNEL_OBJ/dtbo.img: $(CURDIR)/droidian/dtbo.img $(CURDIR)/debian/avb-testkey.pem
	cp $< $@
	avbtool add_hash_footer --image $@ \
		--partition_name dtbo \
		--partition_size 33554432 \
		--algorithm SHA256_RSA2048 \
		--key $(CURDIR)/debian/avb-testkey.pem

$(CURDIR)/debian/avb-testkey.pem:
	openssl genrsa -out $@ 2048 2>/dev/null

# Use prebuilt vbmeta.img instead of generating one
out/KERNEL_OBJ/vbmeta.img: $(CURDIR)/debian/vbmeta.img
	cp $< $@

%:
	dh $@
